.home-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.sidebar {
  width: 200px;
  flex-shrink: 0;
}

.home-content {
  width: 1100px;
  flex: 1;
  padding: 20px;
}
